:root {
    --primary-color: #1464c0; /* A rich blue */
    --secondary-color: #FFFFFF; /* White */
    --accent-color: #c92e23; /* A deep red */
    --button-color: #d32f23; /* A bright red */
    --background-color: #f4f8f8; /* A light grayish blue */
    --text-color: #333333; /* A dark gray */
    --card-shadow: rgba(0, 0, 0, 0.2); /* A light shadow for cards */
    --navbar-bg: var(--primary-color); /* Navbar background matching the primary color */
    --footer-bg: #eeeeee; /* A light gray for the footer background */
    --glass-color: #000000ad; /* A very light transparent blue */
    --transparent-bg: #f8fbfc9d; /* A slightly transparent background */
    --blue-color: #e8f2fd; /* A very light blue */
    --blue-dark-color: #011022; /* A very dark blue */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.text-xlg
{
  font-size: 140px;
}

.bi-list{
    color:var(--blue-dark-color);
    font-weight: 700;
}

/* Go to Top Button */
#goTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-color); /* Primary color */
    color: var(--secondary-color); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#goTopBtn:hover {
    background-color: var(--text-color); /* Darker color on hover */
}

.gradient-bg {
    background-image: url("../images/Services_bg.webp");
    background-size: cover;
}

.text-red {
    color: var(--accent-color);
}

.text-light-red {
    color: var(--button-color) !important;
}  

.text-blue {
    color: var(--primary-color);
}

.glass {
    background-color: var(--glass-color);
    border-radius: 20px;
}

.experience-card {
    background-image: url("../images/experience_card.webp");
    color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
}

.experience-card:hover {
    transform: scale(1.05);
    color: var(--blue-color);
}

.skill-card {
    background-image: url("../images/skill_card.png");
    background-size: cover;
}

.education {
    background-image: url("../images/education_bg.webp"); 
    background-size: cover;  
}

.education-card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
    height: 380px;
}

.education-card:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.service-card {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: 2px;
    height: 120px; 
}

.service-card:hover {
    transform: scale(1.05);
}

.text-xxs {
    font-size: 0.8rem !important;
}

.container-fluid {
    padding: 1.5rem;
}

.card {
    box-shadow: var(--card-shadow);
}

#skillsChart {
    max-height: 400px;
    max-width: 400px;
    margin: 0 auto;
    padding: 1.4rem;
}

.certification-home {
    padding: 100px 0;
    background-image: url("../images/cert_hero.webp");
    height: 100vh;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* About Me Section */
.about-my-certificates {
    padding: 60px 0;
}

.about-my-certificates .lead {
    font-size: 1.25rem;
}

.about-my-certificates .about-img {
    width: 80%;
    border: 5px solid var(--secondary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Certificates Section */
.my-certificates {
    padding: 10px 0;
    background: linear-gradient(to right, var(--secondary-color), #e9ecef);
}

.certificate-card {
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: transform 0.2s;
}

.certificate-card:hover {
    transform: translateY(-10px);
}

.certificate-card .card-body {
    padding: 20px;
    height: 300px;
}

.certificate-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary-color);
}

.certificate-card .card-text {
    font-size: 1rem;
    color: #6c757d;
}

.logo {
    width: 50px;
}

.mh-pic {
    width: 100px; 
}

.home {
    background-image: url("../images/hero_bg.webp");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-home {
    background-image: url("../images/hero_Services_bg.webp");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-card {
    background-image: url("../images/card_Service.webp");
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.project-home {
    background-image: url("../images/project_hero_bg.webp");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-card {
    background:whitesmoke;
    height: 320px;
    border:none;
}

.switch {
    color: var(--secondary-color) !important;
    font-weight: 900;
}

.project-card:hover {
    transform: translateY(-10px);
}

.about-me {
    background-color: var(--background-color);
    background-size: cover;
    padding: 30px;
}

.about-img {
    width: 100%;
    max-width: 340px;
    align-self: center;
}

.hero-title {
    color: var(--secondary-color);
    margin-top: 0;
}

.mytext {
    color: var(--background-color);
    font-size: 1.6rem;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin-right: 20px;
}

.nav-link:hover {
    color: var(--button-color);
}

.contact {
    padding: 2rem 0;
    background-image: url("../images/contact_bg.webp");
    background-size: cover;
}

.contact p {
    color: var(--secondary-color);
}

.contact a {
    color: var(--footer-bg);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: var(--button-color);
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: var(--background-color);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

.contact-form input,
.contact-form textarea:hover {
    border-color: var(--background-color); 
}

.footer {
    background-color: var(--text-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem 0;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 1024px) {
    .logo {
        width: 6vw;
        max-width: 80px;
    }

    .education-card {
        border-radius: 20px;
        padding: 20px;
        height: 100%;
    }

    .hero-title {
        font-size: 2rem;
    }

    .mytext {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 6vw;
        max-width: 50px;
    }
    .project-card {
        background:whitesmoke;
        height: 100%;
        border:none;
    }

    .text-xlg
        {
        font-size:4.2rem;
        }

    .service-card {
        padding: 18px;
    }

    .home {
        background-image: url("../images/mobile_hero_bg.jpeg");
    }

    #skillsChart {
        max-height: 280px;
        max-width: 280px;
        margin: 0 auto;
        padding: 0rem;
    }

    .mh-pic {
        width: 60px; 
    }

    .navbar-collapse {
        background-color: var(--secondary-color);
        border-radius: 5px;
        padding: 20px;
    }

    .nav-link {
        color: var(--text-color);
    }
    .switch {
        color: var(--primary-color) !important;
        font-weight: 900;
    }

    .dark-mode .navbar-collapse {
        background-color: black;
    }

    .dark-mode .nav-link {
        color: var(--secondary-color);
    }
    .dark-mode .switch {
        color: var(--secondary-color);
        font-weight: 900;
    }

    .hero-title {
        font-size: 2.6rem;
    }

    .mytext {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 12vw;
        max-width: 50px;
    }

    .text-xlg
        {
        font-size:2.6rem;
        }

    .hero-title {
        font-size: 2.2rem;
        font-weight: 800;
    }

    .mytext {
        font-size: 1rem;
    }
}

/* Dark mode styles */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .contact-form,
.dark-mode .card,
.dark-mode .footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.dark-mode .contact-form textarea,
.dark-mode .contact-form input {
    background-color: #161616;
    color: #e0e0e0;
}

.dark-mode .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.dark-mode .text-dark {
    color: #e0e0e0 !important;
}

.dark-mode .about-me {
    background-color: rgb(8, 11, 19);
}

.dark-mode .my-certificates {
    padding: 10px 0;
    background: linear-gradient(to right, #0b0b16, #141414);
    color: var(--secondary-color);
}

.dark-mode .certificate-card .card-text {
    color: #bbc1c7;
}

.dark-mode .text-muted {
    color: #9c9d9e !important;
}

.dark-mode .technologies {
    background-color: rgb(36, 35, 35) !important;
}

.dark-mode .bg-white {
    background-color: #1f1e1e !important;
}

.dark-mode .bg-light {
    background-color: #080808 !important;
}

.dark-mode .service-card {
    background-image: url("../images/card_Service_dark.webp");
}

.dark-mode .switch {
    color: rgb(199, 219, 255) !important;
}

.dark-mode .rounded-circle {
    border-color: rgb(19, 18, 18) !important;
}

.dark-mode .experience-card {
    background-image: url("../images/experience_card_dark.webp");
}

.dark-mode .education-card {
    background-color: var(--glass-color);
}

.dark-mode .bi-list{
    color:var(--secondary-color);
}

.dark-mode .skill-card {
    background-image: url("../images/experience_card_dark.webp");
    background-size: cover;
}

.dark-mode .project-card {
    background-image: url("../images/project_card_bg.png");
}


