:root {
    --primary-color: #1464c0;
    --secondary-color: #FFFFFF; 
    --accent-color: #920b0d; 
    --button-color: #eb3134;
    --background-color: #f4f8f8; 
    --text-color: #333333;
    --card-shadow: rgba(0, 0, 0, 0.2);
    --navbar-bg: var(--primary-color);
    --footer-bg: #eeeeee;
    --glass-color:#0727300c;
    --transparent-bg:#f8fbfc9d;
    --blue-color:#e8f2fd;
    --blue-dark-color: #011022;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

 /* Go to Top Button */
 #goTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--primary-color); /* Primary color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#goTopBtn:hover {
    background-color: var(--text-color); /* Darker color on hover */
}

.gradient-bg {
    background: linear-gradient(135deg, var(--primary-color), var(--blue-dark-color), var(--blue-dark-color));
}

.text-red{
color:var(--accent-color);
}

.text-light-red{
    color:var(--button-color);
    }  

.text-blue{
    color: var(--primary-color);
}

.glass{
background-color: var(--glass-color);
border-radius: 20px;
}

.experience-card{
background-image:url("../images/experience_card.png");
color:var(--secondary-color);
border-radius:20px;
padding:8px;
}

.experience-card:hover{
    transform: scale(1.05);
    color: var(--blue-color);
}

.education {
    background-image:url("../images/education_bg.png"); 
    background-size: cover;  
}

.education-card{
    background-color: var(--secondary-color);
    border-radius:20px;
    padding:20px;
    height:380px;
}

.education-card:hover{
    background-color:var(--secondary-color);
    transform: scale(1.05);
}

.service-card{
    background-color:var(--secondary-color);
    border-radius:20px;
    padding:2px;
    height:120px; 
}

.service-card:hover{
    transform: scale(1.05);
}

.text-xxs{
    font-size: 0.8rem !important;
  }

.container-fluid {
    padding: 1.5rem;
}

.card {
    box-shadow: var(--card-shadow);
}

#skillsChart {
    max-height: 400px;
    max-width: 400px;
    margin: 0 auto;
    padding:1.4rem;
}


.logo {
    width:50px;
}

.mh-pic{
    width:100px; 
}

.home {
    background-image: url("../images/hero_bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-home {
    background-image: url("../images/hero_Services_bg.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-me{
    background-image: url("../images/about_bg.png");
    background-size: cover;
    padding:30px;
}

.about-img{
    width:100%;
    max-width:340px;
    align-self:center;
    }

.hero-title{
    color: var(--secondary-color);
    font-weight: 100;
    margin-top: 0;
}

.mytext{
    color: var(--background-color);
    font-weight:600;
    font-size: 1.6rem;
}

.navbar-toggler {
    background-color: var(--secondary-color);
    border: none;
}

.nav-link {
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin-right: 20px;
}

.nav-link:hover {
    color: var(--button-color);
}

.get-started {
    padding: 6px 20px;
    color: var(--secondary-color);
    border-radius: 15px;
    border-width: 0;
    background-color: var(--accent-color);
}

.get-started:hover {
    color: var(--secondary-color);
    background-color: var(--button-color);
}

.contact {
    padding: 2rem 0;
    background-image: url("../images/contact_bg.png");
    background-size: cover;
}

.contact p {
    color:var(--secondary-color);
}

.contact a {
    color: var(--footer-bg);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    color:var(--button-color);
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background-color: var(--background-color);
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

.contact-form input,
.contact-form textarea:hover{
    border-color:var(--background-color); 
}

.contact-form button {
    padding: 0.5rem 1rem;
    background-color:var(--button-color);
    border: none;
    border-radius: 25px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color:var(--accent-color);
}

/* Footer Styles */
.footer {
    background-color:var(--accent-color);
    color:var(--secondary-color);
    text-align: center;
    padding: 1rem 0;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Media Queries */
@media (max-width: 1024px) {
    .logo {
        width: 6vw;
        max-width: 80px;
    }

    .education-card{
        border-radius:20px;
        padding:20px;
        height:100%;
    }

    .hero-title {
        font-size: 2rem;
    }

    .mytext {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 12vw;
        max-width: 50px;
    }

  .home {
    background-image: url("../images/mobile_hero_bg.png");
    }

    #skillsChart {
        max-height: 280px;
        max-width: 280px;
        margin: 0 auto;
        padding:0rem;
    }

    .mh-pic{
        width:60px; 
    }

    .navbar-collapse{
     background-color: var(--text-color);
     border-radius:5px;
     padding:20px;
     
    }

    .hero-title {
        font-size: 2.6rem;
    }

    .mytext {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 12vw;
        max-width: 50px;
    }

    .hero-title {
        font-size: 2.2rem;
        font-weight: 800;
    }

    .mytext {
        font-size: 1rem;
    }

}
